@use '../abstracts/variables' as *;
@use '../core/topography' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    @include font-label-bold;
  }

  input {
    border-radius: 0.5rem;
    border: 1px solid $clr-neutral-grey;

    padding: 0.7em;
    margin-bottom: 1rem;

    &::placeholder {
      padding-left: 0.7em;

      @include font-input-placeholder-regular;
      color: $clr-neutral-grey;
    }
  }

  button {
    border-radius: 0.5rem;
    border: none;

    padding: 1em;

    background-color: $clr-neutral-dark-slate-grey;

    color: $clr-neutral-white;

    @include font-button-bold;
  }
}
