@use '../core/topography' as *;

// Now you can continue with your other styles
.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 1rem;

  &__title {
    @include font-h1-bold;
  }

  &__description {
    @include font-p-regular;
  }

  &__features {
    @include font-ul-bold;
    list-style: none;
    margin: 0;
    padding-inline: 0;

    .feature__item {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      margin-bottom: 0.5rem;
    }
  }
}
