@use '../abstracts/variables' as *;

.layout {
  display: flex;

  gap: 1rem;

  padding: 1.3em;
}

@media screen and (max-width: 800px) {
  .layout {
    flex-direction: column-reverse;

    padding: 0;
    padding-bottom: 2em;
  }
}
